<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ruralreformers</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/ruruallogo.jpg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="app">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style=" background-color: #c8a2c8 !important; margin-bottom: 0px !important; ">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ruralreformers</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="rural-reformers" asp-action="donate">Donate</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="rural-reformers" asp-action="join-as-volunteer">Join us to volunteer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="rural-reformers" asp-action="contact-us">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="rural-reformers" asp-action="faq">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="rural-reformers" asp-action="our-team">Our Team</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <footer class="border-top footer text-muted" id="footer" style="position:unset!important">
            <div class="container">
                &copy; 2021 - Ruralreformers - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <a href="https://facebook.com/RuralReformers" target="_blank"><i class="fa fa-facebook-f" style="font-size:24px"></i></a>
                <a href="https://instagram.com/ruralreformers" target="_blank"><i class="fa fa-instagram" style="font-size:24px"></i></a>
                <a href="https://twitter.com/RuralReformers" target="_blank"><i class="fa fa-twitter" style="font-size:24px"></i></a>
                <a href="https://linkedin.com/company/RuralReformers" target="_blank"><i class="fa fa-linkedin" style="font-size:24px"></i></a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    .App {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    header {
        position: sticky;
        top: 0;
        z-index:99;
    }

    main {
        flex: 1;
    }

    .invert-large-up:before {
        content: "";
        display: block;
        background-image: linear-gradient(rgba(0,0,0,.15),transparent);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 60px;
</style>

<script>

    $(document).ready(function () {

        var docHeight = $(window).height();
        var footerHeight = $('#footer').height();
        var footerTop = $('#footer').position().top + footerHeight;

        if (footerTop < docHeight) {
            $('#footer').css('margin-top', 10 + (docHeight - footerTop) + 'px');
        }
    });
</script>
