<div class="container">
    <ol>
        <li>For corporates</li>
        <li>
        For individual donors
        <ol>
            <li>For Indian Donors – <a target="_blank" href="https://pages.razorpay.com/De4THl">https://pages.razorpay.com/De4THl</a></li>
            <li>For International Donors –</li>
        </ol>
        </li>
    </ol>
</div>