<div class="container">
    <h3>Our Team</h3>
    <div class="row">
        <div class="col-sm-3">
            <a href="https://www.linkedin.com/in/chetaan-narayan-tendulkaar-9471a938" target="_blank">
            <img style="width:200px;height: 200px;" src="~/Images/chetaan.jpeg"/>
            <p>Chetaan Narayan Tendulkaar</p></a>
        </div>
        <div class="col-sm-3 offset-0">
            <a href="http://linkedin.com/in/priyanka-singh-21444656">
                <img style="width:200px;height: 200px;" src="~/Images/priyankasingh.jpeg"/>
                <p>Priyanka Singh</p>
            </a>
        </div>
    </div>
</div>